@model TaskManager.Model.Task_tbl

@{
    ViewBag.Title = "Task";
    //var test = ((List<SelectListItem>)ViewBag.EmployeeID).Where(x => x.Value == Model.EmployeeID.ToString()).Select(x=>x.Text).First();
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriorityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model =>  model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<div class="form-group">
    <a type="button" class="btn btn-primary" href="@Url.Action("Edit", "Task", new { id = Model.Id })">Edit</a>
    <a type="button" class="btn btn-secondary" href="@Url.Action("Index", "Task")">Cancel</a>
</div>
